/*form*/
.backgorundform {
  left: 0;
  right: 0;
  opacity:0.9;
  padding: 20px;
  display: flex;
  border-top: none;
  margin-top: 10rem;
  border-radius: 8px;
  border-bottom: none;
  flex-direction: column;
  justify-content: center;
  background-color: #317AD8;
}

.backgorundform form{
  width: 100%;
  padding: 10px;
  border-color: #5d93be;
  border-style: none none solid none;
}

.backgorundform h1{
  display: flex;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  font-style: italic;
  font-family: League Spartan, Helvetica, sans-serif;
}

.backgorundform h5{
  display: flex;
  color: white;
  font-weight: 700;
  text-align: left;
  font-size: 0.9rem;
  font-style: italic;
  font-family: League Spartan, Helvetica, sans-serif;
}

input,select{
  width: 100%;
  border: none;
  padding: 12px;
  color: #4b45a0;
  border-radius: 6px;
}

label{
  color:white;
  display: flex;
  text-align: left;
  font-weight: 400;
  font-family: Roboto;
  justify-content: left;
  padding: 12px 12px 12px 0;
}

input[type=submit] {
  border: none;
  float: right;
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition: 0.8s;
  margin-top: 2rem;
  margin-left: 30px;
  border-radius: 4px;
  padding: 12px 20px;
  background-color: #5b96b1;
}

input[type=submit]:hover {
  opacity: 0.5s;
  background-color: #4b45a0;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

/*TABLE*/
.Listview{
  margin-top: 1rem;
  border-bottom: none;
  margin-bottom: 2rem;
}
  
.Listview h1{
  display: flex;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  justify-content: center;
  font-family: League Spartan, Helvetica, sans-serif;
}

table{
  right: 0;
  left: 0;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;   
}

.tbl-header{
  margin-top: 1rem;
  background-color: rgba(255,255,255,0.3);
 }

.tbl-content{
  height:30vh;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

th{
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 20px 15px;
  text-align: center;
  text-transform: uppercase;
}

td{
  padding: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align:middle;
  text-transform: uppercase;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

@media screen and (max-width: 600px) {
  .backgorundform{
    margin-top: 15rem;
  }
  
  .Listview{
    height: 30rem;
  }

  .Listview h1{
    font-size: 1.5rem;
  }

  th{
    padding: 1px 1px;
    font-size: 0.1rem;
  }

  td{
    padding: 1px 1px;
    font-size: 0.1rem;
  }
}