* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, button, input {
  font-family: Roboto, sans-serif;
}

html{
  font-family: 'Roboto', sans-serif;
}

body{
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
}

p{
  font-weight: 500;
  font-size: 1.2rem;
  text-align: justify;
}

@media (max-width: 900px){
  p{
    font-weight: 400;
    font-size: 1rem;
  }
}

:root {
  --color-primary: #fff;
  --color-secondary: #317AD8;
  --color-quaternary: #24272E;
  --color-blue: #0061ff;
  --color-border: #bdc4c9;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 7px;
  background-color: #317AD8;
}

::-webkit-scrollbar-thumb {
  background:  #24272E;
  border-radius: 5px;
}